[program:{{app_name}}-wsgi]
command={{deploy_root}}/virtualenv/bin/uwsgi --uid $user_name --pythonpath={{deploy_root}}/webapp -b 16384 --chmod-socket 666 --home {{deploy_root}}/virtualenv --file {{deploy_root}}/webapp/flask_app.py --callable app -s {{unix_socket_name}}

stdout_logfile=/var/log/{{app_name}}-wsgi.stdout    
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=3
stdout_events_enabled=true
stderr_logfile=/var/log/{{app_name}}-wsgi.stderr
stderr_logfile_maxbytes=50MB
stderr_logfile_backups=3
stderr_events_enabled=true

[program:{{app_name}}-rq]
command={{deploy_root}}/virtualenv/bin/rqworker
directory={{deploy_root}}/webapp
stdout_logfile=/var/log/{{app_name}}-rq.stdout    
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=3
stdout_events_enabled=true
stderr_logfile=/var/log/{{app_name}}-rq.stderr
stderr_logfile_maxbytes=50MB
stderr_logfile_backups=3
stderr_events_enabled=true
user=$user_name

